<select-elgato-session-directory [streamdeck]="session.streamdeck" (change)="setDirectory($event)"></select-elgato-session-directory>

<div class="pad-v" *ngIf="session.streamdeck.dir && !devices.length">
  No devices found. No profile folders with manifest.json file with "Device" were found.
</div>

<!-- views -->
<div class="child-margin-xxs">
  <div *ngFor="let deviceView of deviceViews; let deviceIndex=index">
    <!-- toggle lock view -->
    <div class="pos-rel" *ngIf="deviceViews.length > 1">
      <div class="pos-abs right-0">
        <div class="text-xs">
          <input type="checkbox" [id]="'lockInView-' + deviceIndex" [(ngModel)]="deviceView.lockNav" />
          <label [for]="'lockInView-' + deviceIndex">&nbsp;lock nav with others</label>
        </div>
      </div>
    </div>

    <h4>{{deviceView.device.Model}} - {{deviceView.device.UUID}}</h4>
    <select [(ngModel)]="deviceView.currentProfileName" (change)="gotoProfileByName(deviceView.currentProfileName, deviceView)">
      <option *ngFor="let item of deviceView.allProfiles" [value]="item.manifest.Name"
      >{{ item.manifest.Name }}</option>
    </select>

    <div class="flex-wrap">
      <div class="pad-xs">
        <page-buttons [directory]="deviceView.currentProfile.dir"
          [actions]="deviceView.currentProfile.manifest.Controllers[0].Actions"
          [gridLayout]="deviceView.gridLayout"
          (buttonDblClick)="activateItem($event, deviceView)"
          (buttonClick)="deviceView.action = deviceView.action === $event ? undefined : $event"
        ></page-buttons>
        <div class="text-center text-xxxs opacity-60">
          <!--profile path: {{ deviceView.currentProfile.profile.dir.path }}-->
          page path: {{deviceView.currentProfile.dir.path}}
        </div>
      </div>
      <div class="flex-stacked" *ngIf="deviceView.action">
        <textarea class="flex1" rows="12" wrap="off"
          readonly style="min-width:35vw"
        >{{ deviceView.action | json }}</textarea>
        <button type="button" class="bg-assertive width-full"
          (click)="deleteDeviceViewAction(deviceView)"
        >🗑 DELETE</button>
      </div>
    </div>
    
    <button type="button" (click)="deviceView.viewJson = !deviceView.viewJson">🔩 view json</button>
    <button type="button" (click)="deviceViews.splice(deviceViews.indexOf(deviceView),1)">close</button>
    <textarea *ngIf="deviceView.viewJson" readonly class="width-full" rows="12" wrap="off"
    >{{ deviceView.currentProfile.manifest | json }}</textarea>
  </div>
</div>

<!-- add a view -->
<div *ngIf="devices.length" class="child-margin-xxs">
  <button *ngFor="let item of devices" type="button" (click)="addDevice(item)"
  >{{item.Model}} - {{item.UUID}}</button>
</div>

<!-- help select child modal -->
<ack-modal *ngIf="actionNoSubFolder" (close)="actionNoSubFolder=undefined">
  <div class="bg-dark pad">
    <folder-action-match
      [action]="actionNoSubFolder.action"
      [deviceView]="actionNoSubFolder.deviceView"
      (done)="actionNoSubFolder=undefined"
    ></folder-action-match>
  </div>
</ack-modal>
