<select-elgato-session-directory [streamdeck]="session.streamdeck"></select-elgato-session-directory>

<button *ngIf="session.streamdeck.dir" type="button" class="bg-calm"
  (click)="load()"
>🔦 find bad actions</button>

<div class="pad-v" *ngIf="session.streamdeck.dir && searched">
  {{ badActions.length }} bad actions found
  
  <button *ngIf="badActions.length" type="button"
    (click)="fixBadActions()"
  >fix bad actions</button>

  <div *ngFor="let item of badActions" [title]="item.dir.path+'/'+item.action.States[0].Image">
    <page-button [action]="item.action" [directory]="item.dir"></page-button>
    <textarea class="width-full" rows="12" wrap="off"
    >{{ item | json }}</textarea>
  </div>
  
</div>
