<select-elgato-session-directory></select-elgato-session-directory>

<button *ngIf="session.streamdeck.dir" type="button" class="bg-calm"
  (click)="load()"
>🔦 find bad actions</button>

<div class="pad-v" *ngIf="session.streamdeck.dir && searched">
  {{ badActions.length }} bad actions found
  
  <button *ngIf="badActions.length" type="button"
    (click)="fixBadActions()"
  >fix bad actions</button>
        
  <textarea *ngIf="badActions.length" class="width-full" rows="12" wrap="off"
  >{{ badActions | json }}</textarea>
</div>
